body{
    background-color: #faf9f9;
	margin: 0px 70px 0px 70px;
    
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
       
  .nav {
    background: #FFF;
    z-index: 200;
    position: relative;
    width: 130%;
    font-size: 1em;
    overflow: auto;
  }
       
     .nav ul {
        padding: 2em;
      }
       
        li {
	         display: inline-block;
	         margin-right: 2em;
         }
       
           a {
	           text-decoration: none;
	           color: #444;
           }
       
             a:hover {
       		      color: blue;
             }
       
       .nav-toggle {
       		display: none;
       }
       
.foto {
    width: 100%;
}

/*Media Queries*/
@media only screen and (max-width: 800px) {
.wrap {
	 max-width: 100%;
	 margin: 0;
}
  
  .nav.nav-aberta {
		   position: relative;
		   padding: 0 0 0.5em 0;
		   height: 0;
	 }   
	       
      .nav ul {
	        padding: .5em;
	        margin: 0;
          background: #444;
	     }		
	       
	       li {
		         margin: 0;
		         padding: 0;
		         display: block;
		         border-bottom: 1px solid #FFF;
	        }
       			
	           li a {
		           padding: 0.5em 0 0.5em 0;
		           display: block;
               color: #FFF;
	           }
  
            li:last-child {
              border-bottom:none;
            }
	       
	       .nav-toggle {
	       		display: block;
	       		padding: .4em;
	       		margin: .5em 0;
	       }
}

h1 {
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
	
	font-family: Arial;
}

h2 {
	font-size: 20px;
	text-align: center;
	margin: relative;
	float: center;
	
	font-family: Arial;
	
	}
	
h3 {
	font-size: 18px;
	text-align: justify;
	margin: relative;
	float: center;
	
	font-family: Arial;
}

h4 {
	font-size: 20px;
	text-align: justify;
	margin: relative;
	float: center;
	
	font-family: Arial;
}

h5{
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	
	font-family: Arial;
}

h6 {
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
	
	font-family: Arial;
}

@charset "UTF-8";

form{
    width: 700px;
    margin: auto;
}

input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8);
}

textarea{
    resize: none;
    margin-left: 60px;
    
}

input:hover, textarea:hover, select:hover{
    background-color: #dddddd;
}

legend{
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
    
}

fieldset{
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo{
    width: 250px;
}

